
body {
  padding: 10px;
  margin: 30px;
  font-family: sans-serif;
  border: 1px solid;
  border-radius: 10px;
}

/* Setup positions of the top menu items by inline-block properties */

/* .top-menu li {
  display: inline;
}

.top-menu a {
  text-decoration: none;
  display: inline-block;
  width: 18.5%;
  text-align: center;
  line-height: 3;
  color: black;
} */

/* Setup positions of the top menu items by flex property*/

.top-menu ul {
  display: flex;
  flex-direction: row;
}

.top-menu ul li:nth-child(2) {
  display: inline-block;
  color: red;
  flex: 2;
}

.top-menu li {
  display: inline-block;
  flex: 1;
}

a {
  text-decoration: none;
  display: inline-block;
  width: 90%;
  text-align: center;
  line-height: 3;
  color: black;
}

/* Colors of the top-menu */

.top-menu a:link, .top-menu a:visited, .top-menu a:focus {
  background: yellow;
}

.top-menu a:hover {
  background: orange;
}

.top-menu a:active {
  background: red;
  color: white;
}


/* Grid of top section */

.top-section {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-columns: 0.5fr 1fr 1.5fr; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px;
    grid-gap: 10px;
}

/* Grid of second section */

.second-section {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 100px 100px; */
    grid-gap: 10px;
}

/* ul {
  padding: 0;
  width: 100%;
} */

/* li {
  display: inline;
} */

/* a {
  outline: none;
  text-decoration: none;
  display: inline-block;
  width: 19.5%;
  margin-right: 0.625%;
  text-align: center;
  line-height: 3;
  color: black;
} */

/* li:last-child a {
  margin-right: 0;
} */

/* a:link, a:visited, a:focus {
  background: yellow;
}

a:hover {
  background: orange;
}

a:active {
  background: red;
  color: white;
} */
